alias ls="ls -G"
alias nb="ipython notebook --browser=firefox"

alias lpcc="enscript --pretty-print --color"
alias cleantex="rm *.bbl *.aux *.blg *.log *.out *.*~"

alias cboot="dpkg --list | grep linux-image | awk '{ print $2 }' | sort -V | sed -n '/'`uname -r`'/q;p' | xargs sudo apt-get -y purge"
alias sos="pacmd set-card-profile 0 output:analog-stereo"
alias pss="gnome-screenshot -a"
alias svim="sudo vim"
alias xclip="xclip -selection c"

######################################################################
# install pandoc lynx
rmd () {
    pandoc $1 | lynx -stdin
}

frm () {
    $(find . -name '"*.'$1'"')
}
